<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Alpha-Blog</h1>
          <span class="subheading">A bilingual blog/Un blog bilingüe</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="/about">
          <h2 class="post-title">
            This is a test post
          </h2>
          <h3 class="post-subtitle">
            This post will direct you to About page if this link is clicked
          </h3>
          </a>
          <p class="post-meta">Posted by
          <a href="#">Garaekz</a>
          on April 18, 2018</p>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>